<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="mod1">
<!-- {{2+2}} -->

<div ng-controller="mod1Ctrl">

<div class="panel">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="(k,v) in flights[0]">{{k}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="flight in flights">
            <td> {{flight.code}} </td>
            <td> {{flight.code | getMyFlightCode }} </td>
            <!-- <td ng-repeat="(k,v) in flight"> {{v}} </td> -->
        </tr>

        </tbody>
    </table>
</div>

{{person}}
</div>



<script type="text/javascript" src="../app/mod2.js"></script>

<script type="text/javascript" src="../app/mod1.js"></script>
</body>
</html>